Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: '4'
UseTab: Never
TabWidth: '4'
BreakBeforeBraces: Allman
ColumnLimit: '140'
AccesModifierOffset: '-4'
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AlighAfterOpenBracket: DontAlign
AllowShortFunctionOnSingleLine: Inline
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes